.head{
  background-color:red;
}
.nav{
  display:flex;
  background-color:"aliceblue";
  border:1px solid black;
  justify-content:space-between
}

.right>ul{
  list-style-type:none;
  display:flex;
}
.right>ul>li{
  margin-right:20px;
}

.card{
  height:350px;
  width:250px;
  border:1px solid grey;
  padding:5px;
}
/* .restaurants{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
} */
/*  product desc css */
.images_size{
  width:100px;
  height:100px;
}
.left_desc{
  width:60%;
  border:1px solid black;
}
.active{
  background-color:lightblue;
  border-radius:50%;
  padding:10px;
  color:black;
}